$blue: blue;
$padding: 10px;

.paragraph {
    border: 2px solid $blue;
    padding: $padding;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    position: relative;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    > * {
        &:not(:last-child) {
            margin-bottom: 10px;
        } 
    }

    .term {
        color: $blue;
    }

    .delete-btn {
        position: absolute;
        top: $padding;
        right: $padding;
    }

    .suggestion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 70%;
    
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}